<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginfordoc</servlet-name>
        <servlet-class>loginfordoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutofdoc</servlet-name>
        <servlet-class>logoutofdoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginforadmin</servlet-name>
        <servlet-class>loginforadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginforstudent</servlet-name>
        <servlet-class>loginforstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginforemp</servlet-name>
        <servlet-class>loginforemp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginfordoc</servlet-name>
        <url-pattern>/loginfordoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutofdoc</servlet-name>
        <url-pattern>/logoutofdoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginforadmin</servlet-name>
        <url-pattern>/loginforadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginforstudent</servlet-name>
        <url-pattern>/loginforstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginforemp</servlet-name>
        <url-pattern>/loginforemp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
