*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(fee2.jpg);
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
    height : 800px;
    width: 100%;
    font-family: sans-serif;
    box-sizing : border-box;
    margin-top: -5px;
 }
.menu{
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,.7);
}
.menu .lm img{
    border-radius: 50%;
    width: 9%;
    opacity: 0.8;
    height: 10%;
    left: 0;
    float: left;
    position: absolute;
    margin-top: 1rem;
}
.leftmenu{
    width: 30%;
    font-size:55px;
    float: left;
    font-weight: bold;
    color: orange;
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
    text-align: left;
    margin-top: 25px;
    margin-left: 140px;
}
.rightmenu{
    width: 55%;
    height: 10px;
    float: right;
    
}
.rightmenu ul{
    margin-left: 250px;
}
.rightmenu ul li{
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    padding-left: 40px;
    padding-right: 20px;
    text-transform: uppercase;
}
.rightmenu .rm a{
    text-decoration: none;
    color: white;
}
.rightmenu .rm a:hover{
    color: orange;
}
